.jipaige{
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    height: 700px;
}
.chicken{
    background-color: black;
    color:rgb(0, 166, 255);
    font-size: 70px;
    grid-column-start: 1;
    grid-column-end: 3;
}